# Dependencies
/node_modules
/backend/node_modules
/frontend/node_modules

# Environment variables
.env
/backend/.env

# Logs
*.log
/backend/backend.log
/backend/server.log

# Build output
/frontend/dist

# Other
.DS_Store